$color-merino: #F8F3ED;
$base-font-size: 1.3rem;
$small-font-size: 1rem;
$h2-size: 2rem;
$h1-size: 2.5rem;
$h2-margin: 3vh 0 9vh 0;
$section-margin: 0 0 9vh 0;
$header-margin: 0 0 24vh 0;
$small-top-margin: 3vh 0 0 0;
$toc-header-margin: 0 auto 6vh auto;
$toc-item-margin: $small-top-margin;
$toc-sub-item-margin: 1vh 0 3vh 0;
$header-font: 'Slabo 27px', serif;
$paragraph-font: 'Lora', serif;
$main-width: 700px;

html {
	background-color: $color-merino;
}

header {
	text-align: center;
	margin: $header-margin;
}

address {
	font-family: $paragraph-font;
	font-size: $h2-size;
	margin-bottom: 24vh;
	align-self: center;
}

figure {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

ul {
	list-style: none;
	margin: auto;
	max-width: $main-width / 1.5;
}

li {
	margin: $toc-item-margin;
	font-size: $base-font-size;
	font-family: $header-font;
}

.toc {
	display: block;
	margin: $toc-sub-item-margin;	
}

h1 a,
li a {
	color: black;
	text-decoration: none;
}

li a:focus, li a:hover{
	font-variant: small-caps;
	font-size: $base-font-size;
}

body {
	font-size: $base-font-size;
	margin: auto;
	width: 95vw;
	max-width: 900px;	
}

main {
	font-size: $base-font-size;
	margin: auto;
	width: 95vw;
	max-width: 900px;
}

h1 {
	font-size: $h1-size;
	align-self: center;
}

h1,h2 {
	font-family: $header-font;
}

h2 {
	text-align: center;

}

#toc-header {
	margin: $toc-header-margin;
	}

.abstract {
	display: block;
	margin: $h2-margin;
}

section {
	margin: $section-margin;
}

p {
	font-family: $paragraph-font;
	line-height: 1.4;
	margin: 0;
}

p + p {
	text-indent: 3rem;
}

img {
	margin: 0 auto;
}

figcaption {
	font-size: $small-font-size;
	margin: 3vh auto;
	font-family: $paragraph-font;
	width: 80%;
	max-width:700px;
	text-align:center;
}


	ul {display:flex;
		
		flex-wrap: wrap;
		justify-content: space-around;}

	body,
	header,
	ul {
		max-width:1300px;
		padding:0;
	}

	li {
		width:450px;
	}
